# ignore mac meta files
.DS_Store

# ignore python outputs
python/output/*
python/save/*

# ignore everything in blueprint
blueprint/*

# exclude folders to ignore in blueprint
!blueprint/SB-[0-3]/*
!blueprint/AM-[0-3]/*