# ignore mac meta files
.DS_Store

# Ignore Blender files while in development
blender

# ignore python outputs
python/output/*
python/save/*
python/assets/*

# ignore everything in blueprint
blueprint/*

# exclude folders to ignore in blueprint
!blueprint/SB-[0-3]/*
!blueprint/AM-[0-3]/*